<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.continents">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="Basic Geography"
        android:roundIcon="@drawable/ico"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".State"
            android:screenOrientation="landscape" />
        <activity
            android:name=".India"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Menu"
            android:screenOrientation="landscape" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>